:root {
  --background-color: #000;
  --primary-color: #fff;

  --secondary-color: #e48900;

  --accent-color: #e74c3c;

  --white: #ffffff;
  --black: #000000;
  --gray-light: #ecf0f1;
  --gray-dark: #95a5a6;
}

code {
  padding: 0.2rem;
  border-radius: 0.4rem;
  background: rgba(13, 13, 13);
  color: #e9e4dd;
}
pre code {
  /* display: block; */
  border-radius: 1rem;
  overflow-x: auto;
  padding: 1rem;
  display: block;
}
html,
body {
  margin: 0;
  // height: 100%;
  // overflow-x: hidden;
}
body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("/starsBackground.gif");
  &.noscroll {
    overflow-y: hidden;
  }
  .mainWrapper {
    max-width: min(1080px, 100vw);
    width: 100%;
    margin: auto;
    // height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  background-color: var(--background-color);
  color: var(--primary-color);
}
.bottomWrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  flex: 1;
  overflow-x: hidden;

  .columnLeft {
    border-right: 2px solid var(--secondary-color);
    padding: 1rem;
    // overflow-x: hidden;
    flex: 0;
  }
  .columnCenter {
    display: block;
    flex-grow: 1;
    overflow-x: hidden;
    padding: 1rem;
    img {
      max-width: 100%;
    }
  }
  .columnRight {
    min-width: 230px;
    max-width: 230px;
    border-left: 2px solid var(--secondary-color);
    padding: 1rem;
  }
  @media screen and (max-width: 900px) {
    .columnLeft {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    .columnRight {
      display: none;
    }
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  color: var(--secondary-color);
}

header {
  min-width: 100%;
  height: auto;
  position: relative;
  img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  h1 {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}

video {
  max-width: 100%;
}
